<table>
<caption>Naming agreement summary</caption>
<thead>
<tr class="header">
<th align="left">age</th>
<th align="right">mean</th>
<th align="right">sd</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">All</td>
<td align="right">0.0045271</td>
<td align="right">0.0021732</td>
</tr>
<tr class="even">
<td align="left">Young</td>
<td align="right">0.0048984</td>
<td align="right">0.0022690</td>
</tr>
<tr class="odd">
<td align="left">Older</td>
<td align="right">0.0042975</td>
<td align="right">0.0020901</td>
</tr>
</tbody>
</table>
